<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="margin: auto; border: 2px solid gray; width: 25em; height: 20em; padding: 5em;border-radius: 3em; background-color: white; margin-top: 3em">
    <form action="adminlogin" method="post" style="display: flex; flex-direction: column; ; justify-content: space-evenly; gap:2em 2em; align-items: center">
        <input type="text" name="username" placeholder="nhập user name">
        <input type="password" name="password" placeholder="nhập password">
        <input type="submit" value="đăng nhập" style="width: max-content">
    </form>
</div>



  <style>
      input{
          height: 2em;
          font-size: 2em;
          padding-left: .5em;
      }

      body{
          background: url("../photos/anh-nen.jpeg") no-repeat;
          background-size: cover;
      }
  </style>


</body>
</html>